/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full Screen */

html,
body,
#root {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
}

/* Body */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */

button {
  font-family: inherit;
}